doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    h1 hellow form pug html file
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro reiciendis incidunt corrupti architecto mollitia blanditiis rerum cupiditate minus exercitationem alias.